-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'HOST');

-- CreateEnum
CREATE TYPE "PianoTipo" AS ENUM ('EVENTO_SINGOLO', 'VISIBILITA_MENSILE', 'PARTNER_PREMIUM');

-- CreateEnum
CREATE TYPE "StatoAbbonamento" AS ENUM ('ATTIVO', 'SOSPESO', 'SCADUTO', 'IN_PROVA');

-- CreateEnum
CREATE TYPE "StatoEvento" AS ENUM ('BOZZA', 'IN_ATTESA', 'APPROVATO', 'RIFIUTATO', 'SCADUTO');

-- CreateEnum
CREATE TYPE "StatoPagamento" AS ENUM ('IN_ATTESA', 'PAGATO', 'IN_RITARDO', 'ANNULLATO');

-- CreateEnum
CREATE TYPE "StatoFattura" AS ENUM ('BOZZA', 'INVIATA', 'PAGATA', 'SCADUTA', 'ANNULLATA');

-- CreateEnum
CREATE TYPE "CategoriaEvento" AS ENUM ('MUSICA', 'ARTE', 'TEATRO', 'FOOD', 'SPORT', 'FESTIVAL', 'FIERA', 'CONFERENZA', 'CINEMA', 'NATURA', 'FAMIGLIA', 'ALTRO');

-- CreateEnum
CREATE TYPE "StatoPrenotazione" AS ENUM ('RICHIESTA', 'CONFERMATA', 'ANNULLATA', 'COMPLETATA', 'NO_SHOW');

-- CreateEnum
CREATE TYPE "MessaggioMittente" AS ENUM ('HOST', 'GUEST');

-- CreateEnum
CREATE TYPE "TipoStruttura" AS ENUM ('EVENTO', 'VENUE', 'ESPERIENZA', 'ALLOGGIO', 'SERVIZIO');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cognome" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'HOST',
    "attivo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hosts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "nomeAzienda" TEXT NOT NULL,
    "partitaIva" TEXT,
    "codiceFiscale" TEXT,
    "telefono" TEXT,
    "sitoWeb" TEXT,
    "indirizzo" TEXT,
    "citta" TEXT,
    "provincia" TEXT,
    "cap" TEXT,
    "regione" TEXT,
    "logo" TEXT,
    "note" TEXT,
    "piano" "PianoTipo" NOT NULL DEFAULT 'EVENTO_SINGOLO',
    "statoAbbonamento" "StatoAbbonamento" NOT NULL DEFAULT 'IN_PROVA',
    "dataInizioAbb" TIMESTAMP(3),
    "dataFineAbb" TIMESTAMP(3),
    "fattNomeAzienda" TEXT,
    "fattPartitaIva" TEXT,
    "fattIndirizzo" TEXT,
    "fattCitta" TEXT,
    "fattCap" TEXT,
    "fattProvincia" TEXT,
    "fattPaese" TEXT DEFAULT 'Italia',
    "fattEmail" TEXT,
    "fattPec" TEXT,
    "fattCodiceSDI" TEXT,
    "regimeFiscale" TEXT DEFAULT 'RF01',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hosts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "eventi" (
    "id" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "titolo" TEXT NOT NULL,
    "descrizione" TEXT,
    "categoria" "CategoriaEvento" NOT NULL,
    "stato" "StatoEvento" NOT NULL DEFAULT 'IN_ATTESA',
    "dataInizio" TIMESTAMP(3) NOT NULL,
    "dataFine" TIMESTAMP(3),
    "orario" TEXT,
    "luogo" TEXT,
    "citta" TEXT NOT NULL,
    "regione" TEXT NOT NULL,
    "indirizzo" TEXT,
    "prezzo" TEXT,
    "urlBiglietti" TEXT,
    "urlEvento" TEXT,
    "immagine" TEXT,
    "inEvidenza" BOOLEAN NOT NULL DEFAULT false,
    "inNewsletter" BOOLEAN NOT NULL DEFAULT false,
    "visibilitaNaz" BOOLEAN NOT NULL DEFAULT false,
    "regioni" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "noteAdmin" TEXT,
    "visualizzazioni" INTEGER NOT NULL DEFAULT 0,
    "click" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "eventi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "analytics_giornalieri" (
    "id" TEXT NOT NULL,
    "eventoId" TEXT NOT NULL,
    "data" DATE NOT NULL,
    "visualizzazioni" INTEGER NOT NULL DEFAULT 0,
    "click" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "analytics_giornalieri_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "abbonamenti" (
    "id" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "piano" "PianoTipo" NOT NULL,
    "stato" "StatoAbbonamento" NOT NULL,
    "dataInizio" TIMESTAMP(3) NOT NULL,
    "dataFine" TIMESTAMP(3),
    "prezzoMensile" DOUBLE PRECISION NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "abbonamenti_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pagamenti" (
    "id" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "abbonamentoId" TEXT,
    "importo" DOUBLE PRECISION NOT NULL,
    "stato" "StatoPagamento" NOT NULL DEFAULT 'IN_ATTESA',
    "metodo" TEXT,
    "riferimento" TEXT,
    "dataScadenza" TIMESTAMP(3),
    "dataPagamento" TIMESTAMP(3),
    "note" TEXT,
    "descrizione" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pagamenti_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fatture" (
    "id" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "pagamentoId" TEXT,
    "numero" TEXT NOT NULL,
    "anno" INTEGER NOT NULL,
    "stato" "StatoFattura" NOT NULL DEFAULT 'BOZZA',
    "clienteNome" TEXT NOT NULL,
    "clientePIva" TEXT,
    "clienteCF" TEXT,
    "clienteIndirizzo" TEXT,
    "clienteCitta" TEXT,
    "clienteCap" TEXT,
    "clienteProvincia" TEXT,
    "clientePaese" TEXT NOT NULL DEFAULT 'Italia',
    "clienteEmail" TEXT,
    "clientePec" TEXT,
    "clienteSDI" TEXT,
    "righe" JSONB NOT NULL,
    "imponibile" DOUBLE PRECISION NOT NULL,
    "iva" DOUBLE PRECISION NOT NULL,
    "totale" DOUBLE PRECISION NOT NULL,
    "aliquotaIva" DOUBLE PRECISION NOT NULL DEFAULT 22,
    "dataEmissione" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dataScadenza" TIMESTAMP(3),
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "fatture_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "strutture" (
    "id" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" "TipoStruttura" NOT NULL DEFAULT 'EVENTO',
    "descrizione" TEXT,
    "indirizzo" TEXT,
    "citta" TEXT,
    "regione" TEXT,
    "capacitaTotale" INTEGER NOT NULL DEFAULT 1,
    "prezzoBase" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "immagini" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "attiva" BOOLEAN NOT NULL DEFAULT true,
    "urlPrenotazione" TEXT,
    "alloggiatiAbilitato" BOOLEAN NOT NULL DEFAULT false,
    "alloggiatiCodiceStruttura" TEXT,
    "alloggiatiComuneIstat" TEXT,
    "alloggiatiDenominazioneComune" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "strutture_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "unita_prenotabili" (
    "id" TEXT NOT NULL,
    "strutturaId" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descrizione" TEXT,
    "capacita" INTEGER NOT NULL DEFAULT 1,
    "prezzoBase" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "attiva" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "unita_prenotabili_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "disponibilita" (
    "id" TEXT NOT NULL,
    "unitaId" TEXT NOT NULL,
    "data" DATE NOT NULL,
    "postiDisponibili" INTEGER NOT NULL DEFAULT 1,
    "postiOccupati" INTEGER NOT NULL DEFAULT 0,
    "chiuso" BOOLEAN NOT NULL DEFAULT false,
    "noteInterno" TEXT,

    CONSTRAINT "disponibilita_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tariffe_periodo" (
    "id" TEXT NOT NULL,
    "unitaId" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "dataInizio" DATE NOT NULL,
    "dataFine" DATE NOT NULL,
    "prezzo" DOUBLE PRECISION NOT NULL,
    "colore" TEXT DEFAULT '#6366f1',

    CONSTRAINT "tariffe_periodo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prenotazioni" (
    "id" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "strutturaId" TEXT,
    "unitaId" TEXT,
    "guestNome" TEXT NOT NULL,
    "guestCognome" TEXT NOT NULL,
    "guestEmail" TEXT NOT NULL,
    "guestTelefono" TEXT,
    "guestNote" TEXT,
    "dataArrivo" DATE NOT NULL,
    "dataPartenza" DATE,
    "numOspiti" INTEGER NOT NULL DEFAULT 1,
    "stato" "StatoPrenotazione" NOT NULL DEFAULT 'RICHIESTA',
    "fonte" TEXT DEFAULT 'Diretto',
    "prezzoTotale" DOUBLE PRECISION,
    "acconto" DOUBLE PRECISION,
    "noteInterne" TEXT,
    "guestSesso" TEXT,
    "guestDataNascita" DATE,
    "guestLuogoNascita" TEXT,
    "guestComuneNascitaIstat" TEXT,
    "guestProvinciaNascita" TEXT,
    "guestStatoNascitaIstat" TEXT DEFAULT '100000100',
    "guestCittadinanzaIstat" TEXT DEFAULT '100000100',
    "guestTipoDocumento" TEXT,
    "guestNumeroDocumento" TEXT,
    "guestLuogoRilascio" TEXT,
    "guestComuneRilascioIstat" TEXT,
    "guestProvinciaRilascio" TEXT,
    "guestStatoRilascioIstat" TEXT,
    "emailInviata" BOOLEAN NOT NULL DEFAULT false,
    "fatturaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prenotazioni_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat" (
    "id" TEXT NOT NULL,
    "prenotazioneId" TEXT NOT NULL,
    "hostId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "chat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "messaggi" (
    "id" TEXT NOT NULL,
    "chatId" TEXT NOT NULL,
    "mittente" "MessaggioMittente" NOT NULL,
    "testo" TEXT NOT NULL,
    "letto" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "messaggi_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_sessionToken_key" ON "sessions"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "hosts_userId_key" ON "hosts"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "analytics_giornalieri_eventoId_data_key" ON "analytics_giornalieri"("eventoId", "data");

-- CreateIndex
CREATE UNIQUE INDEX "fatture_pagamentoId_key" ON "fatture"("pagamentoId");

-- CreateIndex
CREATE UNIQUE INDEX "fatture_numero_key" ON "fatture"("numero");

-- CreateIndex
CREATE UNIQUE INDEX "disponibilita_unitaId_data_key" ON "disponibilita"("unitaId", "data");

-- CreateIndex
CREATE UNIQUE INDEX "chat_prenotazioneId_key" ON "chat"("prenotazioneId");

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hosts" ADD CONSTRAINT "hosts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "eventi" ADD CONSTRAINT "eventi_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "analytics_giornalieri" ADD CONSTRAINT "analytics_giornalieri_eventoId_fkey" FOREIGN KEY ("eventoId") REFERENCES "eventi"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "abbonamenti" ADD CONSTRAINT "abbonamenti_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pagamenti" ADD CONSTRAINT "pagamenti_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pagamenti" ADD CONSTRAINT "pagamenti_abbonamentoId_fkey" FOREIGN KEY ("abbonamentoId") REFERENCES "abbonamenti"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fatture" ADD CONSTRAINT "fatture_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fatture" ADD CONSTRAINT "fatture_pagamentoId_fkey" FOREIGN KEY ("pagamentoId") REFERENCES "pagamenti"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "strutture" ADD CONSTRAINT "strutture_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "unita_prenotabili" ADD CONSTRAINT "unita_prenotabili_strutturaId_fkey" FOREIGN KEY ("strutturaId") REFERENCES "strutture"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "disponibilita" ADD CONSTRAINT "disponibilita_unitaId_fkey" FOREIGN KEY ("unitaId") REFERENCES "unita_prenotabili"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tariffe_periodo" ADD CONSTRAINT "tariffe_periodo_unitaId_fkey" FOREIGN KEY ("unitaId") REFERENCES "unita_prenotabili"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prenotazioni" ADD CONSTRAINT "prenotazioni_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prenotazioni" ADD CONSTRAINT "prenotazioni_strutturaId_fkey" FOREIGN KEY ("strutturaId") REFERENCES "strutture"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prenotazioni" ADD CONSTRAINT "prenotazioni_unitaId_fkey" FOREIGN KEY ("unitaId") REFERENCES "unita_prenotabili"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prenotazioni" ADD CONSTRAINT "prenotazioni_fatturaId_fkey" FOREIGN KEY ("fatturaId") REFERENCES "fatture"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat" ADD CONSTRAINT "chat_prenotazioneId_fkey" FOREIGN KEY ("prenotazioneId") REFERENCES "prenotazioni"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat" ADD CONSTRAINT "chat_hostId_fkey" FOREIGN KEY ("hostId") REFERENCES "hosts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messaggi" ADD CONSTRAINT "messaggi_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES "chat"("id") ON DELETE CASCADE ON UPDATE CASCADE;

